.App {
  text-align: center;
}

.App-logo {
  height: 40vmin; /* Bleibt relativ zur kleineren Seite des Viewports */
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh; /* Vollbildhöhe */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(1rem + 2vmin); /* Flexibel basierend auf Viewport-Größe */
  color: white;
}

.App-link {
  color: #61dafb;
}

.chat-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  max-width: 80vw; /* Breite relativ zum Viewport, für bessere Responsivität */
  margin: 0 auto;
  max-height: 50vh; /* Höhe relativ zum Viewport */
  overflow: auto;
  border: 0.1rem solid #ccc; /* Verwenden von rem für Ränder */
  border-radius: 0.5rem; /* Abgerundete Ecken */
  background-color: white;
}

.message-area {
  overflow-y: auto;
  display: flex;
  flex-direction: column-reverse;
  padding: 1rem; /* Einheitlicher Abstand */
}

.message {
  max-width: 60%;
  margin-bottom: 1rem; /* Einheitlicher Abstand */
  padding: 0.5rem; /* Einheitlicher Abstand */
  border-radius: 1rem; /* Stärker abgerundete Ecken */
  color: white;
}

.message-user {
  align-self: flex-end;
  background-color: #007aff; /* Einheitliche Farbe für Benutzernachrichten, Anpassung falls nötig */
}

.message-bot {
  align-self: flex-start;
  background-color: #f0f0f0; /* Unterscheidungsfarbe für Bot-Nachrichten */
}

.input-area {
  display: flex;
  padding: 1rem; /* Einheitlicher Abstand */
}

.input-area input, .input-area button {
  padding: 0.5rem; /* Einheitlicher Abstand */
  margin-right: 0.5rem; /* Einheitlicher Abstand zwischen Input und Button */
  border: 0.1rem solid #ccc; /* Konsistente Randbreite */
  border-radius: 0.5rem; /* Abgerundete Ecken */
}

.input-area button {
  background-color: #007aff;
  color: white;
  cursor: pointer;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}